*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    color: inherit;
}

.hamburger{
    display: none;
    color: #FFF;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

body{
    max-width: 1440px;
    margin: auto auto;
}


.nav__top{
   display: flex;
   justify-content: space-between; 
   align-items: center;
   /* border-bottom: 1px solid white; */
   background-color: black;
}

@media(max-width:800px){
    .section-1{
        display: flex;
        flex-wrap: wrap;
    }
    .left__section-1{
        width: 100%;
    }
    .right__section-1{
        width: 100%;
    }
}

.nav__top__left{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 14px 0;
    color: var(--gray, #969696);
    font-family: "PT Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav__top__right{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 14px 0;
    color: var(--gray, #969696);
    font-family: "PT Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav__logo{
    color: #FFF;
    font-family: "Post No Bills Jaffna";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav__bottom{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.nav__link{
    color: var(--gray, #969696);
    font-family: "PT Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

@media (max-width:800px) {
    .hamburger{
        display: block;
    }
    
}

@media (max-width:800px){
    .nav__link{
        display: none;
    }
}

.nav__items{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.bacround__img{
    background: url(../images/Rectangle\ 3.jpg) no-repeat;

}

.hero h1{
    color: #FFF;
    text-align: center;
    font-family: "Post No Bills Jaffna";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 70px;
}

.peterburg{
    color: #FFF;
    text-align: center;
    font-family: "PT Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.lorem{
    color: #FFF;
    text-align: center;
    font-family: "PT Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
     /* 24px */
    text-transform: uppercase;
    width: 40%;
    padding: 154px 0;
}

.hero__center{
    padding: 30px;
    border: 1px solid white;
}

.porten{
    color: #FFF;
    text-align: center;
    font-family: "Post No Bills Jaffna";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero{
    padding-bottom: 100px;
}

nav{
    background-color: black;
}

.left__section-1{
    width: 50%;
    background-color: black;

}

.right__section-1 {
    width: 50%;
    border: 1px solid black;
    background-image: url(../images/men.jpg);
}

.section-1{
    display: flex;
}

.card{
    width: 25%;
}




@media(max-width:800px){
    .card-3{
        display: none;
    }

    .card{
        width: 40%;
    }
}

.watch__cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.img__section-1{
    width: 240px;
    height: 325px;
    flex-shrink: 0;
    background: #191B1C;
    margin-right: 10px;
}

.left__section-1>h1{
    color: var(--white, #FFF);
    text-align: center;
    font-family: "Playfair Display";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 50px;
}

.about__image{
    color: var(--white, #FFF);
    font-family: "Playfair Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px;
}

.right__section-1>h1{
    margin-bottom: 10px;
}

.section-1__btn{
    display: inline-flex;
    padding: 12px 28px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #FFF;
}

.center{
    margin-top: 30%;
}

.section-2{
    display: flex;
}

.left__section-2{
    width: 50%;
}

.img__section-2{
    width: 100%;
}

.right__section-2{
    padding-top: 10%;
    width: 50%;
    background-color: black;
}

.right__section-2 h1{
    color: var(--white, #FFF);
    text-align: center;
    font-family: "Playfair Display";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.section-2__btn{
    display: inline-flex;
    padding: 12px 28px;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--white, #FFF);
}

.lorem-2{
    margin: 10px 0;
    color: var(--white, #FFF);
    text-align: center;
    font-family: "PT Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.section-3{
    background-color: black;
}

.cards__section-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 20px;
}

.card__section-2{
    width: 30%;
    background-color: #0F0F0F;

 
}

.footer__theme{
    color: var(--white, #FFF);
    text-align: center;
    font-family: "Playfair Display";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 20px;
    margin-bottom: 20px;
}

footer{
    background-color: #0F0F0F;

}

.companies{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}